canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.botao{
    font-family: Georgia;
    font-size: 30px; 
    text-transform: uppercase;
    font-weight: 1000;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.botao-rosa {
    background: rgb(241, 147, 202);
    color:#fff;
    box-shadow: 0 5px 0 rgb(223, 70, 159);
}
.botao-rosa:hover {
    background: rgb(223, 70, 159);
    color:#fff;
    box-shadow: 0 5px 0 rgb(156, 37, 107);
}
.botao-rosa:active {
    position:relative;
    top:5px;
    box-shadow: none;
}
.botao2{
    font-family: Georgia;
    font-size: 30px; 
    text-transform: uppercase;
    font-weight: 1000;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.botao2-roxo {
    background: rgb(179, 135, 238);
    color:#fff;
    box-shadow: 0 5px 0 rgb(153, 106, 214);
}
.botao2-roxo:hover {
    background: rgb(128, 86, 184);
    color:#fff;
    box-shadow: 0 5px 0 rgb(101, 66, 148);
}
.botao2-roxo:active {
    position:relative;
    top:5px;
    box-shadow: none;
}
.botao3 {
    font-family: Georgia;
    font-size: 30px; 
    text-transform: uppercase;
    font-weight: 1000;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.botao3-amarelo {
    background: rgb(226, 219, 119);
    color:#fff;
    box-shadow: 0 5px 0 rgb(202, 190, 83);
}
.botao3-amarelo:hover {
    background: rgb(182, 166, 19);
    color:#fff;
    box-shadow: 0 5px 0 rgb(206, 176, 42);
}
.botao3-amarelo:active {
    position:relative;
    top:5px;
    box-shadow: none;
}


.container-logo {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

header{
    width: 100%;
    min-height: fit-content;
    font-family: Georgia;
    background-color: rgb(94, 231, 156);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-logo {
    display: flex;
    align-items: center;
}

.logo-texto {
    color: white;
}

.menu li{
    display: inline-block;
}

.menu li a {
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.menu li a:hover {
    background-color: rgb(44, 163, 97);
}

.rodape {
    width: 100%;
    min-height: 80px;
    background-color: rgb(161, 191, 231);
    display: flex;
    justify-content:center;
    align-items: center;
}